@font-face {
	font-family: 'Aeroport';
	src: url('../font/Aeroport-Light.eot');
	src: local('Aeroport Light'), local('Aeroport-Light'),
	url('../font/Aeroport-Light.eot?#iefix') format('embedded-opentype'),
	url('../font/Aeroport-Light.woff2') format('woff2'),
	url('../font/Aeroport-Light.woff') format('woff'),
	url('../font/Aeroport-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Aeroport Mono';
	src: url('../font/AeroportMono.eot');
	src: local('Aeroport Mono'), local('AeroportMono'),
	url('../font/AeroportMono.eot?#iefix') format('embedded-opentype'),
	url('../font/AeroportMono.woff2') format('woff2'),
	url('../font/AeroportMono.woff') format('woff'),
	url('../font/AeroportMono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aeroport';
	src: url('../font/Aeroport-Bold.eot');
	src: local('Aeroport Bold'), local('Aeroport-Bold'),
	url('../font/Aeroport-Bold.eot?#iefix') format('embedded-opentype'),
	url('../font/Aeroport-Bold.woff2') format('woff2'),
	url('../font/Aeroport-Bold.woff') format('woff'),
	url('../font/Aeroport-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Aeroport';
	src: url('../font/Aeroport-LightItalic.eot');
	src: local('Aeroport Light Italic'), local('Aeroport-LightItalic'),
	url('../font/Aeroport-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../font/Aeroport-LightItalic.woff2') format('woff2'),
	url('../font/Aeroport-LightItalic.woff') format('woff'),
	url('../font/Aeroport-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Aeroport';
	src: url('../font/Aeroport-BoldItalic.eot');
	src: local('Aeroport Bold Italic'), local('Aeroport-BoldItalic'),
	url('../font/Aeroport-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../font/Aeroport-BoldItalic.woff2') format('woff2'),
	url('../font/Aeroport-BoldItalic.woff') format('woff'),
	url('../font/Aeroport-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Aeroport';
	src: url('../font/Aeroport-MediumItalic.eot');
	src: local('Aeroport Medium Italic'), local('Aeroport-MediumItalic'),
	url('../font/Aeroport-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../font/Aeroport-MediumItalic.woff2') format('woff2'),
	url('../font/Aeroport-MediumItalic.woff') format('woff'),
	url('../font/Aeroport-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Aeroport';
	src: url('../font/Aeroport.eot');
	src: local('Aeroport'),
	url('../font/Aeroport.eot?#iefix') format('embedded-opentype'),
	url('../font/Aeroport.woff2') format('woff2'),
	url('../font/Aeroport.woff') format('woff'),
	url('../font/Aeroport.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aeroport';
	src: url('../font/Aeroport-Italic.eot');
	src: local('Aeroport Italic'), local('Aeroport-Italic'),
	url('../font/Aeroport-Italic.eot?#iefix') format('embedded-opentype'),
	url('../font/Aeroport-Italic.woff2') format('woff2'),
	url('../font/Aeroport-Italic.woff') format('woff'),
	url('../font/Aeroport-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Aeroport';
	src: url('../font/Aeroport-Medium.eot');
	src: local('Aeroport Medium'), local('Aeroport-Medium'),
	url('../font/Aeroport-Medium.eot?#iefix') format('embedded-opentype'),
	url('../font/Aeroport-Medium.woff2') format('woff2'),
	url('../font/Aeroport-Medium.woff') format('woff'),
	url('../font/Aeroport-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

